<h3>New post</h3>
<br />
<form action="/new" method="POST" role="form">
	<div class="form-group">
		<label for="input-name">Enter your Name:</label>
		<input name="post[username]" type="text" class="form-control" id="input-name" placeholder="Enter your Name" value="<%= %>">
	</div>
	<br />
	<div class="form-group">
		<label for="input-content">Your post:</label>
		<textarea name="post[content]" class="form-control" id="input-content" rows="7" placeholder="Write post text here" value="<%= %>"></textarea>
	</div>
	<br />
	<button type="submit" class="btn btn-success">Submit</button>
</form>